.open-collapse {
  color: rgb(255, 255, 255);
  background-color:#84b3f0
}

.title-column{
  margin-right: 16px;
}


.display-linebreak {
  white-space: pre-line;
  padding: 1px 15px 1px;
}


  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 414px) {
    .row-item-title {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      float: none;
      text-align: left;     
      min-height: 60px;
      line-height: 20px;
      vertical-align: middle;
      min-width: 20px;
    }

    .row-item-artist  {
      visibility: hidden;
    }

    .row-item  {
        float: none;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration:double;
        font-size: 20px;
        line-height: 30px;
        border-radius: 4px;
        cursor:default;
        vertical-align: middle;
    }

  }

.row-item  {
  float: none;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration:double;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  cursor:default;
  vertical-align: middle;
}

