  .open-collapse {
    color: rgb(255, 255, 255);
    background-color:#84b3f0
}

.title-column{
  margin-right: 16px;
}

.first-block{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  --scrollbar-vertical-size: 16px;
  --scrollbar-horizontal-size: 16px;
  --glue-font-weight-normal: 400;
  --glue-font-weight-bold: 700;
  --glue-font-weight-black: 900;
  --font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");
  --buddy-feed-width: 270px;
  --nav-bar-width: 232px;
  line-height: 1.6;
  color: #b3b3b3;
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,0.07);
  --background-tinted-highlight: hsla(0,0%,100%,0.1);
  --background-tinted-press: hsla(0,0%,100%,0.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  justify-self: start;
}
.image-title {
  margin-right: 16px;
  grid-gap: 16px;
}

.list-group-item {

  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  grid-gap: 16px;
  display: grid;
  padding: 0 16px;
  grid-template-columns: [index] 30px [first] 4fr [var1] 1fr [var2] 1fr;
  height: 56px;
}

.btn-add a {
    visibility: visible;
    float: left;
    color: rgb(218, 60, 157);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  
}

.btn-add a:hover{
  visibility: visible;
}

.standalone-ellipsis-one-line {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break:initial;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  /* padding-right: 8px; */
}

.display-linebreak {
    white-space: pre-line;
    padding: 1px 15px 1px;
  }


   .row-item-title  {
    white-space: nowrap;
    float: left;
    color: black;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    min-height: 15px;
    cursor: pointer;
    vertical-align: middle;
}

.row-item-artist  {
    color: rgb(118, 16, 79);
    text-decoration: none;
    font-size: 18px;
    min-height: 15px;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: none;
    letter-spacing: normal;
}
  

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 414px) {
    .row-item-title {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      float: none;
      text-align: left;     
      min-height: 60px;
      line-height: 20px;
      vertical-align: middle;
      min-width: 20px;
    }

    .row-item-artist  {
      visibility: hidden;
    }

    .row-item  {
        float: none;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration:double;
        font-size: 20px;
        line-height: 30px;
        border-radius: 4px;
        cursor:default;
        vertical-align: middle;
    }

  }

.row-item  {
  float: none;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration:double;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  cursor:default;
  vertical-align: middle;
}